@import "tailwindcss";
@import "@heroui/styles";

@theme inline {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --color-foreground: oklch(0.2571 0.0908 281.44);
  --color-surface: oklch(0.9799 0.0076 48.66);
}

:root {
  color: var(--color-foreground);
}
